<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023264748938-9vcfh6hjcm65gm3fe1b4vhi4lu5krov9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023264748938-9vcfh6hjcm65gm3fe1b4vhi4lu5krov9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1023264748938-3gdu3pc00fvg5ieqvtbeup5vk2df1rqj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQGFowp4PsY2hqEmOeIT-xmMVXPBdY89U</string>
	<key>GCM_SENDER_ID</key>
	<string>1023264748938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skylight.dhabihaapp</string>
	<key>PROJECT_ID</key>
	<string>dhabiha-eaecf</string>
	<key>STORAGE_BUCKET</key>
	<string>dhabiha-eaecf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023264748938:ios:8df0671640d4d3925e4473</string>
</dict>
</plist>